.HeroBg{
    height: calc(100vh - 65px);

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    position: relative;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.HeroBg h1 {
    font-size: 2.8em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.HeroBg h2 {
    font-size: 1.5em;
}

.HeroBg a{
    display: block;
    width: 200px;
    padding: 0.4em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    border: 2px solid #164c5a;
    border-radius: 20px;
    background-color: #60d8f9;
}

.HeroBg a:hover{
    background-color: #57bcd8;
}

@media only screen and (max-width: 768px) {
    .HeroBg {
        padding: 0 20px;
    }
    
}